<!-- views/partials/footer.ejs -->
<footer>
    <p>&copy; 2024 Joseph KAFACK. Tous droits réservés.</p>
  <style>
    footer {
    display: flex; /* Utilise flexbox pour centrer le contenu */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    padding: 1rem; /* Ajoute un peu d'espace autour du texte */
    background-color: #343a40; /* Couleur de fond du footer */
    color: white; /* Couleur du texte */
    width: 100%; /* Prend toute la largeur de la page */
}
  </style>

</footer>
