<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #343a40; /* Couleur sombre */
            padding: 1rem;
            color: white;
        }
        nav {
            max-width: 1200px;
            margin: auto;
        }
        nav ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
        nav ul li {
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            transition: color 0.3s;
        }
        nav ul li a:hover {
            color: #ffd700; /* Couleur dorée au survol */
        }
        .logo {
            font-size: 1.5rem;
            font-weight: 700;
            color: #ffd700; /* Couleur dorée pour le logo */
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">Mon Site Personnel</div>
        <header>
            <nav>
              <a href="/">Accueil</a>
              <a href="/about">À propos de moi</a>
              <a href="/projects">Ce que je fais</a>
              <a href="/products">Produits</a>
              <a href="/future">Mes projections</a>
              <a href="/contact">Contact</a>
            </nav>
          </header>
          
    </header>
</body>
</html>
