<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Mes Projections</h1>
        <div class="projection-container">
            <div class="projection-item">
                <i class="fas fa-rocket"></i>
                <h3>Objectif 1</h3>
                <p>Mise sur pied des sociétés durables pour apporter des solutions aux problèmes que nous rencontrons au quotidien</p>
            </div>
            <div class="projection-item">
                <i class="fas fa-briefcase"></i>
                <h3>Objectif 2</h3>
                <p>[Description de ton deuxième objectif, pourquoi il est important et comment tu prévois de l'atteindre.]</p>
            </div>
            <div class="projection-item">
                <i class="fas fa-graduation-cap"></i>
                <h3>Objectif 3</h3>
                <p>[Description de ton troisième objectif, pourquoi il est important et comment tu prévois de l'atteindre.]</p>
            </div>
        </div>
    </main>
   
    <!-- Inclusion du footer -->
    <footer>
        <p>&copy; 2024 Joseph KAFACK. Tous droits réservés.</p>
    </footer>
</body>
</html>
