<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ce que je fais</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <h1>Ce que je fais</h1>
        <section>
            <h2>Projets Actuels</h2>
            <div class="projects-container">
                <div class="project-card">
                    <img src="/images/projet1.jpg" alt="Projet 1" class="project-image">
                    <h3>Nom du Projet 1</h3>
                    <p>Mise sur pied d'un système de valorisation du réseau relationnel bénéfique pour tous .</p>
                    <a href="#" class="btn">Voir Plus</a>
                </div>
                <div class="project-card">
                    <img src="/images/projet2.jpg" alt="Projet 2" class="project-image">
                    <h3>Nom du Projet 2</h3>
                    <p>Vulgarisation de l'esprit bontologiste pour un monde meilleur.</p>
                    <a href="#" class="btn">Voir Plus</a>
                </div>
                <!-- Ajoutez plus de cartes de projet selon vos besoins -->
            </div>
        </section>
    </main>

    <!-- Inclusion du footer -->
    <footer>
        <p>&copy; 2024 Joseph KAFACK. Tous droits réservés.</p>
    </footer>
</body>
</html>
